@import url('https://fonts.googleapis.com/css?family=Diplomata');
@import url('https://fonts.googleapis.com/css?family=Oregano');
body {
    background-color: #DCDCDC;
}

header {
    background-color: #90ee90;
    height: 100px;
    border: 2px solid #696969;
    padding-bottom: 20px;
}

h1,
h2 {
    font-family: 'Diplomata', cursive;
    text-align: center;
    color: #696969;
}


div {
    width: 600px;
    margin: auto;
}
h3, .paragraph {font-family: 'Oregano', cursive;
    text-align: left;}