@import url('https://fonts.googleapis.com/css?family=Diplomata');
@import url('https://fonts.googleapis.com/css?family=Oregano');
body {
    background-color: #DCDCDC;
}

header {
    background-color: #90ee90;
    height: 100px;
    border: 2px solid #696969;
    padding-bottom: 20px}

h1,
h2 {
    font-family: 'Diplomata', cursive;
    text-align: center;
    color: #696969;
}
div{width:750px;
margin:auto
}
    
.container {width:550px;
    margin:auto; 
    border-bottom: 2px;
    border-bottom-color:#696969;
}
h3 {font-size: 42px;}
h3, p, li {font-family: 'Oregano', cursive;
    text-align: left;
font-size: 24px;}
p.center {text-align: center;} 
.font {font-size: 12px;}

hr {height: 4px;
  background-color: #90ee90;
  border: 2px #696969;
    width:750px;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

footer {height: 100px;
    background-color: #90ee90;
border: 2px solid #696969;}
